@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}


/* AJOUT CODE PAGE INDEX */    
.ficheArtiste {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 50%;
}

.localisation {
    color: #D3573C;
    margin: 0;
    font-size: 13px;
}

p {
    font-size: 10px;
}

.tagline {
    font-weight: 600;
    margin: 5px;
}

.tjm {
    color: #757575;
    margin: 0;
}


/* AJOUT CODE PAGE PHOTOGRAPHER */
.photograph-header {
    display: flex;
    padding: 30px 50px;
    align-items: center;
    justify-content: space-between;
}

.classement {
    margin: 30px 100px;
    font-size: 20px;
    font-weight: 900;
}

.galerie_photos {
    margin: 30px 100px;
}